@page
@model IndexModel
@{
  ViewData["Title"] = "Dashboard";
}

<form>
  <label asp-for="Subject">Subject:</label>
  <input asp-for="Subject" type="text"/>
  <div class="form-check form-switch">
    <label class="form-check-label" asp-for="UseCustomTime">Use Custom Time? </label>
    <input asp-for="UseCustomTime" class="form-check-input" type="checkbox" 
           role="switch" data-bs-toggle="collapse" data-bs-target="#CustomTimeInfo"/>
  </div>
  <div class="collapse" id="CustomTimeInfo">
    <label asp-for="CustomWeekDay">Weekday</label>
    <input asp-for="CustomWeekDay" type="text"/>
    <label asp-for="CustomTime">Time:</label>
    <input asp-for="CustomTime" type="time"/>
  </div>
</form>