@page
@model TutorSchedules.Pages.ScheduleDeleted

@{
  ViewData["Title"] = "Schedule Deleted";
}

<div class="jumbotron">
  <h1 class="">Schedule Deleted</h1>
  <a class="btn btn-primary" asp-page="Settings">Return To Settings</a>
</div>
