@page
@model SettingsModel
@{
  ViewData["Title"] = "Settings";
}

<div class="container">
  <div class="row">
    <div class="col-6">
    </div>
    <div class="col-6">
      <form method="post" asp-page="Settings" asp-page-handler="UploadSchedule" enctype="multipart/form-data">
        <section class="form-group shadow p-3">
          <div class="row">
            <h4>Upload schedule File:</h4>
            <p class="text-primary">Note: This will override old schedule.</p>
          </div>
          <div class="row">
            <input class="form-control-file my-2" asp-for="ScheduleFile" type="file"/>
            <span class="text-danger" asp-validation-for="ScheduleFile"></span>
          </div>
          <div class="row">
            <div class="col">
              <input type="submit" value="Upload" class="btn btn-primary"/>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>