@page
@model TutorListModel
@{
  ViewData["Title"] = "Tutor List";
}

<h3 class="text-decoration-underline">Tutor List:</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>View/Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var tutor in Model.Tutors)
  {
    <tr>@await Html.PartialAsync("Shared/_TutorListRow", tutor)</tr>
  }
  </tbody>
</table>
<a class="btn btn-primary" asp-page="TutorProfile">Add New Tutor</a>