@page
@model TutorListModel
@{
    ViewData["Title"] = "Tutor List";
}


<div>
    <h1>Add Tutor:</h1>
    <form method="post">
        <label asp-for="NewTutorId">Id</label>
        <input type ="number" asp-for="NewTutorId"/>
        <label asp-for="NewTutorName">Display Name</label>
        <input type="text" asp-for="NewTutorName"/>
        <input type="submit"/>
    </form>
</div>
<div>
    <h1>Tutor List:</h1>
    @foreach (var tutor in @Model.Tutors)
    {
        <p>@tutor.DisplayName</p>
    }
</div>