@page "{TutorId:int}"
@model TutorSchedules.Pages.TutorDetails

<div class="container">
  <div class="row">
    <h1>Details for @Model.Tutor.DisplayName</h1>
  </div>
  <section class="row" id="MainSchedule">
    <h2 class="text-decoration-underline">Schedule:</h2>
    @for (DayOfWeek day = DayOfWeek.Monday; day <= DayOfWeek.Saturday; day++)
    {
      <div class="col col-2 text-center shadow rounded">
        <h3>@day</h3>
        @{ var scheduleForDay =
             Model.ScheduledTimes
               .Where(b => b.Weekday == day)
               .OrderBy(b => b.StartTime); }
        @if (scheduleForDay.Any())
        {
          <table class="table">
            <thead>
            <tr>
              <th>Start Time</th>
              <th>End Time</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var block in scheduleForDay)
            {
              <tr>
                <td>@block.StartTime</td>
                <td>@block.EndTime</td>
              </tr>
            }
            </tbody>
          </table>
        }
        else
        {
          <h4>Off</h4>
        }
      </div>
    }
  </section>
  <section class="row" id="EmbeddedSchedule">

  </section>
  <section class="row" id="ProfessionalHourSchedule">

  </section>
  <section class="row" id="SubjectLevels">

  </section>
</div>