@page "{TutorId:int}"
@model TutorSchedules.Pages.TutorOverlaps

@{
    ViewData["Title"] = $"Overlapping Tutors For {Model.Tutor.DisplayName}";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>