@page "{TutorsAdded:int}/{BlocksAdded:int}"
@model TutorSchedules.UploadSuccessful

@{
  ViewData["Title"] = "Upload Successful";
}

<div class="jumbotron">
  
  <h1 class="">Upload Successful.</h1>
  <p>Added @Model.BlocksAdded new time blocks for @Model.TutorsAdded tutors.</p>
<a class="btn btn-primary" asp-page="Settings">Return To Settings</a>
</div>
