<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Tutor Schedules</title>
    <link rel="stylesheet" href="~/css/pico/pico.classless.blue.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    <h1>@ViewData["Title"]</h1>
    <nav>
        <p><a asp-area="" asp-page="/Index">Dashboard</a></p>
        <p><a asp-area="" asp-page="/Settings">Settings</a></p>
        <p><a asp-area="" asp-page="/TutorList">Tutor List</a></p>
        <p><a asp-area="" asp-page="/Login">Log in</a></p>
    </nav>
</header>
<hr>
<main role="main">
    @RenderBody()
</main>
<hr>
<footer>
    &copy; 2025 - Tutor Schedules
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>