@model TutorSchedules.Models.Tutor

<tr>
  <td>@Model.Id</td>
  <td>@Model.DisplayName</td>
  <td>
    <form method="post" asp-page="TutorList" asp-page-handler="Edit">
      <input name="idToEdit" value="@Model.Id" type="hidden"/>
      <input type="submit" value="Edit" class="btn btn-primary"/>
    </form>
  </td>
  <td>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#TutorDeleteConfirmation">
      Delete
    </button>
    <div class="modal fade" id="TutorDeleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="TutorDeleteConfirmationLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="TutorDeleteConfirmationLabel">Confirm Delete?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this tutor?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
              No
            </button>
            <form method="post" asp-page="TutorList" asp-page-handler="Delete">
              <input name="idToDelete" value="@Model.Id" type="hidden"/>
              <button type="submit" class="btn btn-danger">
                Delete
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
      
    @* </form> *@
  </td>
</tr>

<!--<form method="post">
  
</form> -->